
.landing__menu{
    margin-top: 0;
    margin-bottom: 0;
    background-color:black;
    margin: 0em;
    padding: 0em;
   
}

.landing-title{
    list-style-type: none;
    margin-top: 0em;
    margin-bottom: 0.4em;
    padding-top: 0.5em;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    padding: 0;
}

.landing-user{
    font-size: 1em;
    color: #5b6fe6;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0px;
    left: 10px;
}

.landing__nav {
    display: flex;
    text-align: center; 
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    font-size: 1.2rem; 
    display: flex;  
}

li{
    flex: auto;
    text-align: center;
    margin-bottom: auto;
    margin-bottom: 1em;
}


.landing__button{
    display: auto;
    margin: 0 10px 0 0;
    text-align: center;
    align-items: center;
    color: #74b174;
    text-decoration: none;
}

@media (max-width: 700px){
    .landing-title{
        list-style-type: none;
        top: 0;
        text-align: center;
        color: white;
        font-size: 2rem;  
    }

    .landing-user{
        font-size: 0.7em;
    }
    
    
    .landing__button{
        font-size: 1rem;
        margin: 0 10px 0 0;
        text-align: center;
    }
}

@media (max-width: 520px){
     
    
    .landing-title{
        list-style-type: none;
        top: 0;
        text-align: center;
        color: white;
        font-size: 1.5rem;  
    }

    .landing-user{
        font-size: 0.5em;
    }
    
    .landing__button{
        font-size: 0.7rem;
        margin: 0 10px 0 0;
        text-align: center;
    }
}