.body-addgarbage {
    margin: 0;
    padding: 0;
    background: url(../../images/IslanGarbageOcean.jpeg) no-repeat center top;
    background-size: cover; 
    height: 100vh;
}

.view-addgarbage {
    width: 450px;
    height: 550px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.view-addgarbage .avatar {
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.view-addgarbage h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 1.4rem;
}



.view-addgarbage input {
    width: 100%;
    margin-bottom: 40px;
}
  
  .view-addgarbage input[type="text"], .view-addgarbage input[type="file"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 1rem;
  }
  
  .view-addgarbage input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 1rem;
    border-radius: 20px;
  }

  .view-addgarbage input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .view-addgarbage .addgarbage__link {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    margin-left: 0.5rem;
    color: darkgrey;
  }
  
  .view-addgarbage .addgarbage__link:hover {
    color: #fff;
  }
  
  @media screen and (max-width: 600px){
    .view-addgarbage {
      width: 250px;
      height: 350px;
      background: #000;
      color: #fff;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 70px 30px;
  }

  .view-addgarbage input {
    width: 100%;
    margin-bottom: 20px;
  }

  .view-addgarbage h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 1.1rem;
  }

  .view-addgarbage .avatar {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: calc(50% - 25px);
  }

}

@media screen and (min-width: 601px) and (max-width: 800px){
  .view-addgarbage {
    width: 350px;
    height: 450px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }

  .view-addgarbage input {
    width: 100%;
    margin-bottom: 20px;
  }

  .view-addgarbage h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 1.3rem;
  }

  .view-addgarbage .avatar {
    background-color: black;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: calc(50% - 38px);
  }

}
