<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <section class="view landing _hide">
        <h1 class="landing__title">Tasks</h1>
        <p class="landing__options">Please, proceed to <a href="#">Register</a> or <a href="#">Login</a>.</p>
    </section>
    <section class="view register _hide">
        <form>
            <h1 class="register__title">Register</h1>
            <input class="register__field" type="text" name="name" placeholder="name">
            <input class="register__field" type="text" name="surname" placeholder="surname">
            <input class="register__field" type="email" name="email" placeholder="e-mail">
            <input class="register__field" type="text" name="username" placeholder="username">
            <input class="register__field" type="password" name="password" placeholder="password">
            <button class="register__submit">📨</button>
        </form>

        <section class="feedback">
            <span class="feedback__icon">🤡</span>
            <p class="feedback__message">Come with me...</p>
            <span class="feedback__icon">🎈</span>
        </section>
    </section>
    <section class="view login _hide">
        <form>
            <h1 class="login__title">Login</h1>
            <input class="login__field" type="email" name="email" placeholder="e-mail">
            <input class="login__field" type="password" name="password" placeholder="password">
            <button class="login__submit">🗝</button>
        </form>

        <section class="feedback">
            <span class="feedback__icon">🤡</span>
            <p class="feedback__message">Come with me...</p>
            <span class="feedback__icon">🎈</span>
        </section>
    </section>
    <ul class="tasks">
        <li class="tasks__item">
            <a href="#" class="item">
                <h2 class="item__title">CHL Tasks</h2>
                <h2 class="item__user">Pepito Grillo</h2>
                <h2 class="item__state">ToDo</h2>
            </a>
        </li>
        <li class="tasks__item">
            <a href="#" class="item">
                <h2 class="item__title">CHL Tasks</h2>
                <h2 class="item__user">Pepito Grillo</h2>
                <h2 class="item__state">Doing</h2>
            </a>
        </li>
        <li class="tasks__item">
            <a href="#" class="item">
                <h2 class="item__title">CHL Tasks</h2>
                <h2 class="item__user">Pepito Grillo</h2>
                <h2 class="item__state">Review</h2>
            </a>
        </li>
        <li class="tasks__item">
            <a href="#" class="item">
                <h2 class="item__title">CHL Tasks</h2>
                <h2 class="item__user">Pepito Grillo</h2>
                <h2 class="item__state">Done</h2>
            </a>
        </li>
    </ul>
</section>
<section class="view detail _task">
    <h2 class="detail__title">task X</h2>
    <span class="detail_user"></span>
    <p class="detail__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate neque omnis
        sunt dolor repellat incidunt voluptates odio eos consequatur corrupti. Accusantium porro minima molestias
        voluptatem dolor nobis! Perspiciatis, vero maiores!</p>
    
    
    <span class="detail__state"></span>
    <a class="detail__back" href="#">close task</a>
</section>

<section class="global-feedback feedback">
    <span class="feedback__icon">🤡</span>
    <p class="feedback__message">Come with me...</p>
    <span class="feedback__icon">🎈</span>
</section>

</body>
</html>