<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eco Points</title>
</head>
<body>
    <section class="view landing">
        <section class="landing__map">
            <h1 class="map__title">Welcome to Eco Points </h1>
            <map class="map">
                <iframe class="map__field" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.876977774634!2d2.1999809742642316!3d41.398477963736156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a257ee099f33%3A0x7245a39d4ec50228!2sSkylab%20Coders%20Academy!5e0!3m2!1ses!2ses!4v1574702177212!5m2!1ses!2ses" width="" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </map>
        </section>
        <section class="Landing__loadpicture">
                <form action="/images/upload" method="POST" enctype="multipart/form-data">
                    <input type="file" name="image">
                    <button>
                        Save
                    </button>
                </form>
            </form>
        </section>
    </section> 
    
    <section class="view login">
        <form>
            <h1 class="login__title">Login</h1>
            <input class="login__field" type="email" name="email" placeholder="e-mail">
            <input class="login__field" type="password" name="password" placeholder="password">
            <button class="login__submit">🗝</button>
        </form>

        <section class="feedback">
            <p class="feedback__message">Come with me...</p>
        </section>
    </section>
    <section class="view register">
        <form>
            <h1 class="register__title">Register</h1>
            <input class="register__field" type="text" name="name" placeholder="name">
            <input class="register__field" type="text" name="surname" placeholder="surname">
            <input class="register__field" type="email" name="email" placeholder="e-mail">
            <input class="register__field" type="password" name="password" placeholder="password">
            <button class="register__submit">📨</button>
        </form>

        <section class="feedback">
            <p class="feedback__message">Come with me...</p>
        </section>
    </section>
    <section class="view listpicture">
        <ul class="lispicture__container ">
            <li class="container__item">
                <a href="#" class="item">
                    <img class="item__image" src="https://fakeimg.pl/300x200/?text=Hello">
                </a>
            </li>
        </ul>
    </section>
    
</body>
</html>