.body-login {
    margin: 0;
    padding: 0;
    /* background: 0; */
    background: url(../../images/IslanGarbageOcean.jpeg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }
  
  .view-login {
    width: 450px;
    height: 550px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  .view-login .avatar {
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }

  .body-login h1{
    margin: 0 0 60px;
    padding: 1em;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 3em;
  }  
  
  .view-login h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .view-login label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .view-login input {
    width: 100%;
    margin-bottom: 40px;
  }
  
  .view-login input[type="text"], .view-login input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .view-login input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 60px;
  }
  
  .view-login input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .view-login .loging__link {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    margin-left: 0.5rem;
    color: darkgrey;
  }
  
  .view-login .loging__link:hover {
    color: #fff;
  }
  
  @media screen and (max-width: 600px){
    .view-login {
      width: 250px;
      height: 350px;
      background: #000;
      color: #fff;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
      padding: 70px 30px;
  }
  .body-login h1{
    margin: 0 0 60px;
    padding: 1em;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 3em;
  }  


  .view-login input {
    width: 100%;
    margin-bottom: 10px;
  }

  .view-login input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 30px;
    padding-top: 5px;
  }

  .view-login h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 1.1rem;
  }

  .view-login .avatar {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: calc(50% - 25px);
  }

}

@media screen and (min-width: 601px) and (max-width: 800px){
  .view-login {
    width: 350px;
    height: 450px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }

  .view-login input {
    width: 100%;
    margin-bottom: 20px;
  }

  .view-login h2 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 1.3rem;
  }

  .view-login .avatar {
    background-color: black;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: calc(50% - 38px);
  }

}